<a routerLink=""><app-menu-bar></app-menu-bar></a>
<div class="container_content">
  <div class="content-cover d-flex justify-content-center">
    <img src="{{cardImage}}" alt="" height="350px" width="400px">
  </div>
  <div class="content-title text-center">
    <h1>{{cardTitle}}</h1>
  </div>
  <div class="content-description text-center">
    <p>{{description }}</p>
  </div>
  <div class="d-flex justify-content-center">
    <a class="text-center fw-bolder fs-4" routerLink="">Voltar << </a>
  </div>
</div>