<app-menu-bar></app-menu-bar>
<app-menu-title></app-menu-title>
<app-submenu></app-submenu>
<div class="container">
  <div class="articles row">
    <div class="articles_main col-md-5">
      <app-big-card Id="1" cardImage="../../../assets/placeholder.png" cardTitle="Guide // Security"
        description="How to optimize your code reviews"></app-big-card>
    </div>
    <div class="articles_others col-md-7">
      <div class="row">
        <div class="col-md-6">
          <app-small-card Id="2" cardImage="../../../assets/placeholder.png"
            description="What We can lean from vintage computing"></app-small-card>
          <app-small-card Id="3" cardImage="../../../assets/placeholder.png"
            description="A smarter quieter Dependabot"></app-small-card>
          <app-small-card Id="4" cardImage="../../../assets/placeholder.png"
            description="What's in a name? Moving GitOps beyond buzzword"></app-small-card>
        </div>
        <div class="col-md-6">
          <app-small-card Id="5" cardImage="../../../assets/placeholder.png"
            description="New GitHub CLI extension tools"></app-small-card>
          <app-small-card Id="6" cardImage="../../../assets/placeholder.png"
            description="3 common DevOps antipatterns and cloud native strategies"></app-small-card>
          <app-small-card Id="7" cardImage="../../../assets/placeholder.png"
            description="Game Off 2022 winners"></app-small-card>
        </div>
      </div>
    </div>
  </div>
</div>