<div class="container_menu-barmb-2">
  <nav class="navbar navbar-expand-lg">
    <div class="container container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Engineering /</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-medium" href="#">Product /</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-medium" href="#">Security /</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-medium" href="#">Open Source /</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-medium" href="#">Enterprise /</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-medium" href="#">Policy /</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-medium" href="#">Education /</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-medium" href="#">Community /</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-medium" href="#">Company /</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <button class="btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
    </div>
  </nav>
</div>
<p class="container custom-hr" style="height: 3px;"></p>