* {
  box-sizing: border-box;
  background-color: #FFFFFF;
  margin: 0px;
  padding: 0px;
}

.custom-hr {
  height: 0.4rem;
  background-color: #000000;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}